<nav>
    <ul>
        <li><%= link_to 'About', '/pages/about' %></li>
        <li><%= link_to 'Help', '/pages/help' %></li>
        <li><%= link_to 'Privacy', '/pages/privacy' %></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
